/* ______________________ CUSTOM BOOTSTRAP ______________________ */

h1 {color:#95C900;font-size:23px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}

h1, h2, h3, h4 {line-height: normal;}

hr {border-top: 1px solid #C7C7C7;}

.progress { height: 15px; }

.navbar .nav>li>a, .navbar .brand { padding: 10px 10px 10px; }
.nav .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: #fff;
    text-shadow: 1px -1px 0 #537008;
}
.navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle, .navbar .nav li.dropdown.open>.dropdown-toggle {
    color: #fff;
    text-shadow: 1px -1px 0 #537008;
}
#navigation .dropdown-menu {
    opacity:0.9;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
#navigation .tpl-flag .dropdown-menu, #navigation .tpl-flag .dropdown-menu li {
    min-width: inherit;
    text-align: center;
}

#sidebar-left .nav>li>a {
    background-image: -webkit-linear-gradient(to right, transparent 50%, #95C900 50%);
    background-image: -moz-linear-gradient(to right, transparent 50%, #95C900 50%);
    background-image: -o-linear-gradient(to right, transparent 50%, #95C900 50%);
    background-image: linear-gradient(to right, transparent 50%, #95C900 50%);

    background-position: 0 0;
    background-size: 200% auto;
    transition: all .1500s ease-in;
}
#sidebar-left .nav>li>a:hover, .nav-list>.active>a {
    color: #FFF;
    text-shadow: 1px -1px 0px #768F48;
    background-position: 100% 0;
}

#sidebar-right .nav>li>a {
    background-image: -webkit-linear-gradient(to right, transparent 50%, #95C900 50%);
    background-image: -moz-linear-gradient(to right, transparent 50%, #95C900 50%);
    background-image: -o-linear-gradient(to right, transparent 50%, #95C900 50%);
    background-image: linear-gradient(to right, transparent 50%, #95C900 50%);

    background-position: 0 0;
    background-size: 200% auto;
    transition: all .1500s ease-in;
}
#sidebar-right .nav>li>a:hover, .nav-list>.active>a {
    color: #FFF;
    text-shadow: 1px -1px 0px #768F48;
    background-position: 100% 0;
}

#slideshow {
    margin-top: 35px;
}
#slideshow .carousel-indicators {
    top: inherit;
    bottom: 0;
    right: 40%;
}
#slideshow .carousel-indicators li {
    overflow: hidden;
    background-color: #616060;
    border-radius: 0;
    width: 50px;
    height:5px;
    opacity: 0.5;
}
#slideshow .carousel-indicators .active {
    background-color: #fff;
    opacity: 0.7;
}
#slideshow .carousel-caption {
    background: none;
    top: 10%;
    left: 32%;
    bottom: inherit;
}
#slideshow .carousel-caption h2, #slideshow .carousel-caption h3, #slideshow .carousel-caption p {
    margin-top:0;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    line-height:inherit;
}
#slideshow .carousel-caption h2, #slideshow .carousel-caption h3 {
    font-size:3em;
}
#slideshow .carousel-caption p {
    font-size:2em;
    font-weight: bold;
    margin-left: 2em;
    margin-bottom: 7px;
}
#sidebar-left .form-search button {padding:2px;}

/****  TABS *****/
.nav-tabs {
  margin-bottom: -1px;
}
.nav-tabs>li>a {
	border-radius: 0;
	background: #9DD625;
	border: 1px solid #C7C6C6;
	color: #FFF;
}
.nav-tabs>li>a:hover { background: #B1CC78; }
.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
  /* border-top: 4px solid #b9e23d; */
	background: #F5F5F5;
}
.tab-content {
  background: #F5F5F5;
  border: 1px solid #DDD;
  padding: 1em;
  min-height: 180px;
}

/* TALBEAU */
#t-planning {width: 60%;margin:auto;background:#F5F5F5;}
#t-planning td, .table th {
  padding: 4px 3px;
  font-size: 11px;
}
#t-planning th {font-weight: normal;text-align: center;}
#t-planning thead {
  background: #b9e23d;
  color: #fff;
}


/****  MODAL BOX *****/
.modal-header {
  border-bottom: 1px dashed #eee;
  background: #95C900;
  color: #fff;
  text-shadow: 1px -1px 0px #768F48;
}
.modal-footer {
  border-top: 1px dashed #eee;
  background: #D6D6D6;
  color:#fff;
}
.modal form {margin:0;}
