/* CSS3 */

body {
  background: url('../../img/front/background-head.jpg') no-repeat center 3em #fff;
}

/* ______________________ CSS GENERIQUE ______________________ */

.f-image {
    position: relative;
    display: block;
}
.f-image .f-overlay {
    opacity: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.3s ease-out;
}
.f-image:hover .f-overlay {
    opacity: 0.5;
}
.f-image i {
    position: relative;
    top: 40%;
    left: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.f-image:hover i {left: 40%;}

/* ______________________ CUSTOM BOOTSTRAP ______________________ */

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: #fff;
    text-shadow: 1px -1px 0 #537008;
}
.navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle, .navbar .nav li.dropdown.open>.dropdown-toggle {
    color: #fff;
    text-shadow: 1px -1px 0 #537008;
}
.navbar-static-top .dropdown-menu { 
    opacity:0.8; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

/* ______________________________________________________________ */

#logo {
    z-index: 999;
    position:absolute;
    background-color: #FFF;
    padding: 2.5em 1.2em;
    border-radius: 100%;
    top: -4.6em;
    left: 45%;
    border: 5px solid #616060;
}

#logo img {
    position:relative;
    top: 25px;
    left: 0;
}

#block-content {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2em 1em;
    border: 1px solid #cecece;
}

#login-form {
    padding:0.5em;
    margin-bottom: 0;
}
#login-form .controls { margin-left:85px; }
#login-form .control-label { width:75px; }

/*_____________________ CONTENUE ZONE VOYANT _____________________________*/

#zone-voyant {
    
}
#zone-voyant .thumbnails > li .label {
    position: absolute;
    margin-top: -8px;
    margin-left: -18px;
    -webkit-transform: rotate(-37deg);
    -moz-transform: rotate(-37deg);
    transform: rotate(-37deg);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
#zone-voyant .thumbnails > li:hover .label {
    -webkit-transform: scale(1.2) rotate(-37deg);
    -moz-transform: scale(1.2) rotate(-37deg);
    transform: scale(1.2) rotate(-37deg);
}
#zone-voyant .thumbnails li {
    background: #fff;
    border: 1px solid #CECECE;
}
#zone-voyant .thumbnails .caption {
    background-color: #95C900;
    padding: 5px 10px;
}
#zone-voyant .caption h3 {
    line-height: 1.3em;
    font-size: 1.3em;
    font-weight: normal;
    color: #FCFCFC;
    margin: 0;
    text-transform: capitalize;
    text-shadow: 1px -1px 0px #5F831E;
}
#zone-voyant .thumbnails li .describ {
    padding: 10px;   
    border-top: 1px dashed #E0DCDC;
    clear: both;
}
#zone-voyant li .photo {
    padding: 10px 5px;
    border: none;
}
#zone-voyant li .photo img {
    background-color:#fff;
    border: 1px solid #CECECE;
    padding: 3px;
}
#zone-voyant li .fiche {
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:12px;
}
#zone-voyant li .fiche ul {list-style-type: none;margin:0;padding:none;}
#zone-voyant li .fiche li {border:none;}

#zone-voyant li .specialite {
    padding: 10px;
    border-top: 1px dashed #E0DCDC;
}
#zone-voyant .specialite strong { float:left; }
#zone-voyant .specialite ul { margin:0;}
#zone-voyant .specialite li {
    border:none;
    padding: 0 10px;
}

.grille-voyant .pagination {text-align: center;}
