/* CSS3 */

body {
  background: url('../../img/front/background-head.jpg') no-repeat center 3em #fff;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
}

/* ______________________ CSS GENERIQUE ______________________ */

.img-loader-medium {
  background: url('../../img/front/loader.gif') no-repeat center center rgba(255, 255, 255, 0.7);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  z-index: 5;
}

h1, h2 {
  text-shadow: -1px -1px 1px #49700D;
}

.f-image {
    position: relative;
    display: block;
}
.f-image .f-overlay {
    opacity: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.3s ease-out;
}
.f-image:hover .f-overlay {
    opacity: 0.5;
}
.f-image i {
    position: relative;
    top: 40%;
    left: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.f-image:hover i {left: 40%;}

form .needful {
  color: #FF0000;
  font-weight: bold;
  margin-right: 3px;
}

/* class de conteneur */
.no-slideshow {
  margin-top: 10em;
}

/* ______________________________________________________________ */

#logo {
    z-index: 999;
    position:absolute;
    background-color: #FFF;
    padding: 2.2em 0.9em;
    border-radius: 100%;
    top: -4.6em;
    left: 45%;
    border: 5px solid #616060;
}

#logo img {
    position:relative;
    top: 20px;
    left: 0;
}

#block-content {
    /* background-color: rgba(255, 255, 255, 0.4); */
    padding: 2em 1em;
    border: 1px solid #C7C7C7;
    -webkit-box-shadow: 0 0 10px #D6C9C9;
    -moz-box-shadow: 0 0 10px #D6C9C9;
    box-shadow: 0 0 10px #D6C9C9;
    
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(35%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

#login-form {
    padding:0.5em;
    margin-bottom: 0;
}
#login-form .controls { margin-left:85px; }
#login-form .control-label { width:75px; }

/*_____________________ CONTENUE ZONE VOYANT _____________________________*/

#zone-voyant {

}
#zone-voyant .thumbnails > li .tpl-new {
    position: absolute;
    margin-top: -8px;
    margin-left: -18px;
    -webkit-transform: rotate(-37deg);
    -moz-transform: rotate(-37deg);
    transform: rotate(-37deg);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
#zone-voyant .thumbnails > li:hover .tpl-new {
    -webkit-transform: scale(1.2) rotate(-37deg);
    -moz-transform: scale(1.2) rotate(-37deg);
    transform: scale(1.2) rotate(-37deg);
}
#zone-voyant .thumbnails li {
    background: #fff;
    border: 1px solid #CECECE;
}
#zone-voyant .thumbnails .caption {
    background-color: #95C900;
    padding: 5px 10px;
    overflow: hidden;
}
#zone-voyant .caption h3 {
    line-height: 1.3em;
    font-size: 1.1em;
    font-weight: normal;
    color: #FCFCFC;
    margin: 0;
    text-transform: capitalize;
    text-shadow: 1px -1px 0px #768F48;
}
#zone-voyant .caption h3 a {color:inherit;text-decoration: none;}
#zone-voyant .caption h3 a:hover {color:#DBFF11;}
#zone-voyant .thumbnails li .describ {
    padding: 10px;
    border-top: 1px dashed #E0DCDC;
    clear: both;
}
#zone-voyant li .photo {
    padding: 10px 5px;
    border: none;
}
#zone-voyant li .photo img {
    background-color:#fff;
    border: 1px solid #CECECE;
    padding: 3px;
}
#zone-voyant li .fiche {
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:12px;
}
#zone-voyant li .fiche ul {list-style-type: none;margin:0;padding:none;}
#zone-voyant li .fiche li {border:none;}

#zone-voyant li .specialite {
    padding: 10px;
    border-top: 1px dashed #E0DCDC;
    background-color: #ECECEC;
}
#zone-voyant .specialite strong { float:left; }
#zone-voyant .specialite ul { margin:0;}
#zone-voyant .specialite li {
    border:none;
    padding: 0 10px;
    background: none;
}

.grille-voyant .pagination {text-align: center;}


#sidebar-left .accordion-heading, #sidebar-right .accordion-heading {
    background-color: #ECECEC;
}
#sidebar-left .accordion-heading a,
#sidebar-right .accordion-heading a {
    color:#505050;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
#sidebar-left .accordion-heading a > i,
#sidebar-right .accordion-heading a > i {opacity: 0.8;}

#sidebar-left .accordion-group, #sidebar-right .accordion-group {
    margin-bottom: 0;
    border-top: 0;
}
#sidebar-left .accordion-group:first-child,
#sidebar-right .accordion-group:first-child {border-top:1px solid #E5E5E5;}

#sidebar-left .accordion-group, #sidebar-right .accordion-group {
  background: #fff;
}

/*_____________________ PAGE PROFILE VOYANT _____________________________*/

#voyant-profile h1 {
  font-size: 1.5em;
  margin-top: 0;
  line-height: 1em;
  text-align: right;
}

#voyant-profile h1 .color {
  color: #95C900;
}

#voyant-profile .photo-voyant {
  position: absolute;
  top: -8em;
  left: 0;
}


/*_____________________ FOOTER _____________________________*/

#footer {
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 162, color-stop(0%, #666666), color-stop(100%, #333333));
    background-image: -webkit-radial-gradient(center top, farthest-corner circle, #666666 0%, #333333 100%);
    background-image: -moz-radial-gradient(center top, farthest-corner circle, #666666 0%, #333333 100%);
    background-image: -ms-radial-gradient(center top, farthest-corner circle, #666666 0%, #333333 100%);
    background-image: -o-radial-gradient(center top, farthest-corner circle, #666666 0%, #333333 100%);
    background-image: radial-gradient(farthest-corner circle at center top, #666666 0%, #333333 100%);
    border-top: 10px solid #B9E23D;
    color: #C7C7C7;
    text-shadow: -1px -1px 0 #242424;
}
#footer ul {list-style-type: none;}
#footer ul li:before {
    content: '\2022';
    padding: 10px;
    text-shadow: -1px -1px 0 #242424;
}
#footer footer {
    padding: 2em 1em;
}
