/* BOUTON REVENIR EN HAUT */
#hover-zetop {
    display: none;
    z-index: 300;
    position: fixed;
    right: 1%;
    bottom: 10%;
    opacity: 0.4;
}

/* ---------------CAROUSSEL HOME PAGE------------------------ */

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}

/* -------------------- FLAG drapeaux -----------------------*/
.flag {
/*	width: 18px;
	height: 12px;*/
	background:url(../../img/front/flags.png) no-repeat;
	display: inline-block;
}

.argentina { background-position:  -0px -0px; height: 16px; width: 24px; }
.austria { background-position:  -0px -16px; height: 16px; width: 24px; }
.belgium { background-position:  -0px -32px; height: 16px; width: 24px; }
.brazil { background-position:  -0px -48px; height: 16px; width: 24px; }
.canada { background-position:  -0px -64px; height: 16px; width: 24px; }
.china { background-position:  -0px -80px; height: 16px; width: 24px; }
.denmark { background-position:  -24px -0px; height: 16px; width: 24px; }
.england { background-position:  -24px -16px; height: 16px; width: 24px; }
.finland { background-position:  -24px -32px; height: 16px; width: 24px; }
.france { background-position:  -24px -48px; height: 16px; width: 24px; }
.germany { background-position:  -24px -64px; height: 16px; width: 24px; }
.guinea { background-position:  -24px -80px; height: 16px; width: 24px; }
.guyana { background-position:  -48px -0px; height: 16px; width: 24px; }
.haiti { background-position:  -48px -16px; height: 16px; width: 24px; }
.iceland { background-position:  -48px -32px; height: 16px; width: 24px; }
.ireland { background-position:  -48px -48px; height: 16px; width: 24px; }
.italy { background-position:  -48px -64px; height: 16px; width: 24px; }
.japan { background-position:  -48px -80px; height: 16px; width: 24px; }
.koera { background-position:  -72px -0px; height: 16px; width: 24px; }
.luxembourg { background-position:  -72px -16px; height: 16px; width: 24px; }
.malaysia { background-position:  -72px -32px; height: 16px; width: 24px; }
.panama { background-position:  -72px -48px; height: 16px; width: 24px; }
.portugal { background-position:  -72px -64px; height: 16px; width: 24px; }
.russia { background-position:  -72px -80px; height: 16px; width: 24px; }
.spain { background-position:  -96px -0px; height: 16px; width: 24px; }
.suisse { background-position:  -96px -16px; height: 16px; width: 24px; }
.usa { background-position:  -96px -32px; height: 16px; width: 24px; }

/* CSS POUR LE SYSTEM DE VOTE PLUGIN */
.f-rating {

}
.ui-rating .ui-rating-star, .ui-rating .ui-rating-cancel{
    width:16px;
    height:16px;
    font-size:2px;
    float:left;
    text-decoration:none;
    vertical-align:bottom;
    background-image:url('../../img/star.png');
    background-repeat:no-repeat;
}
.ui-rating a {
	cursor: pointer;
}
.ui-rating-full  {
    background-position:left top;
}

.ui-rating-half  {
    background-position:left -16px;
}

.ui-rating-empty {
    background-position:left -32px;
}

.ui-rating-cancel-empty {
    background-position:left -64px;
}

.ui-rating-cancel-full {
    background-position:left -80px;
}

.ui-rating-hover {
    background-position:left -48px;
}

.ui-selected-value {
	background-color: #EEEEEE;
	margin-left: 150px;
	text-align: center;
	width: 60px;
}


/**************** flash box msg *************/
#flash-msg {
  z-index: 300;
  position: fixed;
  bottom: 10%;
  left: 10%;
  width: 19%;
  display: none;
  opacity: 0.9;
  border: 1px solid #808080;
}

/* ---------------SIGNS DU ZODIAC------------------------ */
#zodiac-panel {
/*
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjYjdiM2M3Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNTA1YjY4Ii8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiM1MDViNjgiIC8+PHJlY3QgeD0iLTguODIzNSUiIHk9Ii0xMDAlIiB3aWR0aD0iMTE3LjY0NzElIiBoZWlnaHQ9IjIwMCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 500, color-stop(0%, #b7b3c7), color-stop(100%, #505b68));
background-image: -webkit-radial-gradient(center top, farthest-side circle, #b7b3c7 0%, #505b68 100%);
background-image: -moz-radial-gradient(center top, farthest-side circle, #b7b3c7 0%, #505b68 100%);
background-image: -ms-radial-gradient(center top, farthest-side circle, #b7b3c7 0%, #505b68 100%);
background-image: -o-radial-gradient(center top, farthest-side circle, #b7b3c7 0%, #505b68 100%);
background-image: radial-gradient(farthest-side circle at center top, #b7b3c7 0%, #505b68 100%);
*/
}
#zodiac-panel {margin: 0;list-style-type: none;overflow: hidden;width:760px;margin:auto;}
#zodiac-panel li {float:left;}
.zodiac-sign {
    background-image: url('../../img/front/zodiac-signs.png');
    background-position-x: -0px;
    display: block;
    height: 170px;
    width: 190px;
    /*transition: all .4s ease-in;*/
}
.zodiac-sign span {
    background-image: url('../../img/front/zodiac-signs.png');
    background-position-y: -170px;
    display: block;
    width: 190px;
    height: 170px;
    opacity: 0;
    transition: opacity .3s ease-in;
}
.zodiac-sign:hover span, .zodiac-sign[rel=active] span  {
    opacity: 1;
}

.balance { background-position:  -0px -0px;}
.belier { background-position:  -190px -0px; }
.cancer { background-position:  -380px -0px; }
.capricorne { background-position:  -570px -0px; }
.gemeaux { background-position:  -760px -0px;  }
.lion { background-position:  -950px -0px; }
.poisson { background-position:  -1140px -0px; }
.sagitaire { background-position:  -1330px -0px; }
.scorpion { background-position:  -1520px -0px; }
.taureau { background-position:  -1710px -0px; }
.verseau { background-position:  -1900px -0px; }
.vierge { background-position:  -2090px -0px; }


/* hover fadein */
.zodiac-sign:hover .balance,
.zodiac-sign[rel=active] .balance {
  background-position: 0px 170px;
}
.zodiac-sign:hover .belier,
.zodiac-sign[rel=active] .belier {
  background-position: -190px 170px;
}
.zodiac-sign:hover .cancer,
.zodiac-sign[rel=active] .cancer {
  background-position: -380px 170px;
}
.zodiac-sign:hover .capricorne,
.zodiac-sign[rel=active] .capricorne {
  background-position: -570px 170px;
}
.zodiac-sign:hover .gemeaux,
.zodiac-sign[rel=active] .gemeaux {
  background-position: -760px 170px;
}
.zodiac-sign:hover .lion,
.zodiac-sign[rel=active] .lion {
  background-position: -950px 170px;
}
.zodiac-sign:hover .poisson,
.zodiac-sign[rel=active] .poisson {
  background-position: -1140px 170px;
}
.zodiac-sign:hover .sagitaire,
.zodiac-sign[rel=active] .sagitaire {
  background-position: -1330px 170px;
}
.zodiac-sign:hover .scorpion,
.zodiac-sign[rel=active] .scorpion {
  background-position: -1520px 170px;
}
.zodiac-sign:hover .taureau,
.zodiac-sign[rel=active] .taureau {
  background-position: -1710px 170px;
}
.zodiac-sign:hover .verseau,
.zodiac-sign[rel=active] .verseau {
  background-position: -1900px 170px;
}
.zodiac-sign:hover .vierge,
.zodiac-sign[rel=active] .vierge {
  background-position: -2090px 170px;
}
